<div class="gridStyle" ng-grid="contactsGridOptions"></div>
<div ui-scrollfix class="well" id="edit-form">
  <!--<pre>{{ selectedContact | json }}</pre>-->

  <form class="form-horizontal" role="form">

    <div class="input-group">
      <span class="input-group-addon">First Name</span>
      <input type="text" class="form-control" placeholder="John" ng-model="selectedContact.first_name">
    </div>

    <br>

    <div class="input-group">
      <span class="input-group-addon">Last Name</span>
      <input type="text" class="form-control" placeholder="Smith" ng-model="selectedContact.last_name">
    </div>

    <br>

    <div class="input-group">
      <span class="input-group-addon">Email</span>
      <input type="text" class="form-control" placeholder="john@example.com" ng-model="selectedContact.email">
    </div>

    <br>

    <div class="input-group">
      <span class="input-group-addon">Birth Date</span>
      <input type="text" class="form-control" ng-model="selectedContact.birth_date">
    </div>

    <br>

    <div class="well">
      <h4>Address</h4>

      <div class="input-group">
        <span class="input-group-addon">Country</span>
        <input type="text" class="form-control" ng-model="selectedContact.address.country">
      </div>

      <br>

      <div class="input-group">
        <span class="input-group-addon">State</span>
        <input type="text" class="form-control" ng-model="selectedContact.address.state">
      </div>

      <br>

      <div class="input-group">
        <span class="input-group-addon">City</span>
        <input type="text" class="form-control" ng-model="selectedContact.address.city">
      </div>

      <br>

      <div class="input-group">
        <span class="input-group-addon">ZIP Code</span>
        <input type="text" class="form-control" ng-model="selectedContact.address.zip">
      </div>

      <br>

      <div class="input-group">
        <span class="input-group-addon">Street</span>
        <input type="text" class="form-control" ng-model="selectedContact.address.address">
      </div>
    </div>

    <div class="well">
      <h4>Phones</h4>

      <div class="input-group">
        <span class="input-group-addon">Cell phone</span>
        <input type="text" class="form-control" ng-model="selectedContact.phones.cell_phone">
      </div>

      <br>

      <div class="input-group">
        <span class="input-group-addon">Home Phone</span>
        <input type="text" class="form-control" ng-model="selectedContact.phones.home_phone">
      </div>

      <br>

      <div class="input-group">
        <span class="input-group-addon">Work Phone</span>
        <input type="text" class="form-control" ng-model="selectedContact.phones.work_phone">
      </div>

    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-default" ng-click="save()">Save</button>
      <button type="submit" class="btn btn-default" ng-click="add()">Add contact</button>
      <button type="submit" class="btn btn-default" ng-click="delete()">Delete</button>
    </div>

  </form>
</div>