<div ui-scrollfix class="well" id="edit-form">

  <form class="form-horizontal" role="form" novalidate>

    <div class="input-group">
      <span class="input-group-addon">First Name</span>
      <input type="text" class="form-control" placeholder="John" ng-model="selectedContact.first_name">
    </div>

    <br>

    <div class="input-group">
      <span class="input-group-addon">Last Name</span>
      <input type="text" class="form-control" placeholder="Smith" ng-model="selectedContact.last_name">
    </div>

    <br>

    <div class="input-group">
      <span class="input-group-addon" >Email</span>
      <input type="text" class="form-control" placeholder="john@example.com" ng-model="selectedContact.email" required>
    </div>

    <br>

    <div class="input-group">
      <span class="input-group-addon">Birth Date</span>
      <input type="text" class="form-control" ng-model="selectedContact.birth_date" id="birth-date" bs-datepicker>
    </div>

    <br>

    <h4>Address</h4>

    <div class="input-group">
      <span class="input-group-addon">Country</span>
      <input type="text" class="form-control" ng-model="selectedContact.address.country">
    </div>

    <br>

    <div class="input-group">
      <span class="input-group-addon">State</span>
      <input type="text" class="form-control" ng-model="selectedContact.address.state">
    </div>

    <br>

      <div class="row">

    <div class="input-group col-sm-8">
      <span class="input-group-addon">City</span>
      <input type="text" class="form-control" ng-model="selectedContact.address.city">
    </div>

    <div class="input-group col-sm-4" id="zip">
      <span class="input-group-addon">ZIP</span>
      <input type="text" class="form-control" ng-model="selectedContact.address.zip">
    </div>

      </div>

    <br>

    <div class="input-group">
      <span class="input-group-addon">Street</span>
      <input type="text" class="form-control" ng-model="selectedContact.address.address">
    </div>

    <br>

    <h4>Phones</h4>
    <p class="help-block">Selected phone will be displayed in the table</p>

      <div class="input-group">
      <span class="input-group-addon">
        <label>
            Cell phone
            <input type="radio" name="default_phone" value="cell_phone" ng-model="selectedContact.phones.default_phone" ng-click="updatePhone()">
        </label>
      </span>
      <input type="text" class="form-control" ng-model="selectedContact.phones.cell_phone" ng-change="updatePhone()">
    </div>

    <br>

    <div class="input-group">
      <span class="input-group-addon">
          <label>
              Home phone
              <input type="radio" name="default_phone" value="home_phone" ng-model="selectedContact.phones.default_phone" ng-click="updatePhone()">
          </label>
      </span>
      <input type="text" class="form-control" ng-model="selectedContact.phones.home_phone" ng-change="updatePhone()">
    </div>

    <br>

    <div class="input-group">
      <span class="input-group-addon">
          <label>
              Work phone
              <input type="radio" name="default_phone" value="work_phone" ng-model="selectedContact.phones.default_phone" ng-click="updatePhone()">
          </label>
      </span>
      <input type="text" class="form-control" ng-model="selectedContact.phones.work_phone" ng-change="updatePhone()">
    </div>

    <br>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary" id="save-button" ng-click="save()">Save</button>
      <button type="submit" class="btn btn-danger" ng-click="delete()">Delete</button>
    </div>

  </form>
</div>
<script type="text/javascript">
    //ScrollFix.
    var editForm = $("#edit-form");
    var viewPort = $(window);
    viewPort.scroll(function(){
        if ( viewPort.height() >= editForm.height()){
            var topOffset = Math.max(0,77-$(this).scrollTop());
            editForm.css('position', 'fixed').css('right', 0).css("top", topOffset);
        } else {
            editForm.css('position', 'static');
        }
    });
</script>