/* app css stylesheet */

body {
  padding-top: 5px;
  width: 100%;
  float:left;

}

input[type="search"] {
  float: right;
  margin-right: 5px;
}

.gridStyle {
  width: 70%;
  float: left;
}

#edit-form, #email-form {
  width: 30%;
  float: left;
  vertical-align: top;
  box-sizing: border-box;
}

.ui-scrollfix {
  position: fixed;
  right: 0;
  top: 0;
}

.form-wrapper {
  position: relative;
}

#email-form input {
  width: 100%;
}

#email-form textarea {
  width: 100%;
}

.alert {
  width: 40%;
  margin: auto;
}

.input-group-addon {
  min-width:120px;
  text-align:left !important;
}

.form-actions {
  margin: 0;
  background-color: transparent;
  text-align: center;
}

textarea {
  resize: vertical;
}

.nav.nav-tabs {
  border: none;
}