/* app css stylesheet */

body {
  padding-top: 5px;
  width: 100%;
  float:left;

}

input[type="search"] {
  float: right;
  margin-right: 5px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.gridStyle {
  width: 70%;
  float: left;
}

#edit-form, #email-form {
  width: 30%;
  position: fixed;
  right: 0;
  vertical-align: top;
  box-sizing: border-box;
}

.form-wrapper {
  position: relative;
}

#email-form input {
  width: 100%;
}

#email-form textarea {
  width: 100%;
}